<a href="https://colab.research.google.com/github/gargprek/ShapeAI_Bootcamp_BWD/blob/main/Shape_AI_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TITANIC SURVIVOR ANALYSIS**

In [ ]:
import pandas as pd
import numpy as np

We use pandas read_csv function to read the csv file in python and pandas dataframe method to convert file into the data frame.

In [ ]:
df = pd.DataFrame(pd.read_csv('/content/train.csv'))
df.head()

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

In [ ]:
#df.isnull().sum() returns a pandas series with columns name as the label index
# and total count of null values in the column as it's value
# and we are storing only those columns which have more than 35% of the data missing.


x = df.isnull().sum()
drop_col = x[x>(35/100 * df.shape[0])]
drop_col

In [ ]:
drop_col.index

In [ ]:
df.drop(drop_col.index, axis=1, inplace=True)
df.isnull().sum()

In [ ]:
df.fillna(df.mean(), inplace = True)
df.isnull().sum()

In [ ]:
df['Embarked'].describe()

In [ ]:
df['Embarked'].fillna('S',inplace=True)

In [ ]:
df.isnull().sum()       ## NOW ALL THE VALUES HAVE BEEN FILLED

In [ ]:
df.corr()

sibsp: Number of siblings/spouses abroad

parch: Number of parents/children abroad

In [ ]:
df['FamilySize'] = df['SibSp']+df['Parch']
df.drop(['SibSp', 'Parch'], axis=1, inplace=True)
df.corr()

In [ ]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

In [ ]:
df.groupby(['Alone'])['Survived'].mean()

In [ ]:
df[['Alone','Fare']].corr()

In [ ]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index]   # 1 for female, 0 for male
df.groupby(['Sex'])['Survived'].mean()

In [ ]:
df.groupby(['Embarked'])['Survived'].mean()

CONCLUSION:

Female passengers were prioritized over men
People with high class or rich people have higher survival rate than others.

The hierarcy might have been followed while saving the passengers.

Passengers travelling with their family have higher survival rate.

Passengers who boarded the ship at Cherbourg, survived more in proportion than the others.